@import "../../style/styles.scss";

.main {
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  header,
  footer {
    padding: 2rem 0;
    background-color: hotpink;
  }

  .main-container {
    display: flex;
    height: 90%;
    .list {
      overflow-y: auto;
      width: 80%;
    }
  }

  @media (max-width: 900px) {
    .main {
      justify-content: space-between;
      margin: 0 auto;
    }
    .main-container {
      flex-direction: column;
      .list {
        width: 100%;
      }
    }
  }
}
