@import "../../style/styles.scss";

.nav {
  z-index: 100;
  width: 20%;
  min-width: 7.5rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 0.5em;
  background-color: white;
  box-shadow: 24px 0px 19px -5px rgba(0, 0, 0, 0.19);
}
